.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}

.image {
  margin: 0 auto;
  width: 600px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.text {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #444;
}
