.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4px;

  margin-top: auto;
  padding: 8px 20px;
  background-color: #fff;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.info > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
